{
  "trigger": ["master"],
  "pool": { "vmImage": "vs2017-win2016" },
  "variables":
    [
      { "group": "Chocolatey CI" },
      { "name": "au_version", "value": "" },
      { "name": "au_push", "value": "true" },
      { "name": "au_test_groups", "value": "1" },
      { "name": "github_user_repo", "value": "bdukes/Chocolatey-Packages" },
      { "name": "gist_id", "value": "fd3d636b9b4617772f9b99ceb88838fa" },
      { "name": "gist_id_test", "value": "" },
    ],
  "steps":
    [
      {
        "powershell": 'git config --global user.email "bdukes@engagesoftware.com"; git config --global user.name "Brian Dukes (via Azure DevOps)"; git config --global core.safecrlf false;',
        "displayName": "Configure Git",
      },
      {
        "powershell": "Get-CimInstance win32_operatingsystem -Property Caption, OSArchitecture, Version | fl Caption, OSArchitecture, Version; $PSVersionTable; git --version; choco --version;",
        "displayName": "Output environment details",
      },
      {
        "powershell": 'git clone -q https://github.com/majkinetor/au.git $Env:TEMP/au; . "$Env:TEMP/au/scripts/Install-AU.ps1" $Env:au_version;',
        "displayName": "Install AU",
      },
      {
        "task": "PowerShell@2",
        "inputs": { "filePath": "au/update_all.ps1" },
        "displayName": "Update all packages",
        "env":
          { "api_key": "$(api_key)", "github_api_key": "$(github_api_key)" },
      },
      {
        "task": "CopyFiles@2",
        "inputs":
          {
            "sourceFolder": "$(Build.SourcesDirectory)",
            "targetFolder": "$(Build.ArtifactStagingDirectory)",
            "contents": "update_info.xml; Update-AUPackages.md; ",
          },
        "displayName": "Copy artifacts to staging directory",
      },
      { "task": "PublishBuildArtifacts@1", "displayName": "Publish Artifacts" },
    ],
}
